<html>

<head>
  <link href="static/css/card.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { packages: ["orgchart"] });
    google.charts.setOnLoadCallback(loadData);

    function drawChart(arr) {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Name');
      data.addColumn('string', 'Manager');
      data.addColumn('string', 'ToolTip');

      data.addRows(arr)
      // Create the chart.
      var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
      // Draw the chart, setting the allowHtml option to true for the tooltips.
      chart.draw(data, { 'allowHtml': true });
    };

    function loadData() {
      var arr = []
      $.ajax({
        url: '/employee',
        method: 'get',
        dataType: 'json',
        success: function (data) {
          data.items.forEach(element => {
            arr.push(
              [{
                'v': element.id, 'f':
                  `<div class="card-client">    
                    <p class="name-client">${element.full_name}
                    <span>${element.position.title}</span>
                    </p>
                    <div class="social-media">
                      <span>${element.salary}</span>        
                    </div>
                  </div>`
              },
              element.boss_id === null ? "" : element.boss_id,
                ""]
            )
          });
          drawChart(arr)
        }
      });

    };
  </script>
</head>

<body>
  <div id="chart_div"></div>
</body>

</html>