{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form action="/employee/edit/{{employee.id}}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="first_name">Фамилия</label>
                <input class="form-control" type="text" name="first_name" value="{{employee.first_name}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="middle_mame">Имя</label>
                <input class="form-control" type="text" name="middle_name" value="{{employee.middle_name}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="last_name">Отчество</label>
                <input class="form-control" type="text" name="last_name" value="{{employee.last_name}}">
            </div>
            <label for="formFile" class="form-label">Фотография</label>
            <div class="col-md-4 text-center">
                <figure class="figure">
                    <img src="{{ employee.photo_url }}" class="figure-img img-fluid rounded" alt="Фото сотрудника"
                        style="width: 350px;">
                </figure>
            </div>
            <div class="mb-3">                
                <input class="form-control" type="file" name="photo_file" id="formFile">
            </div>
            <div class="mb-3">
                <label class="form-label" for="start_date">Начало работы</label>
                <input class="form-control" type="date" name="start_date" value="{{employee.start_date}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="salary">Зарплата</label>
                <input class="form-control" type="number" min="0" step=".01" name="salary" value="{{employee.salary}}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="position_id">Должность</label>
                <select class="form-control" name="position_id" id="position">
                    {% for pos in positions %}
                    <option value="{{pos.id}}" {% if employee.position_id==pos.id %}selected{% endif %}>{{ pos.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="boss">Начальник</label>
                <select class="form-control" name="boss_id" id="boss">
                    {% for boss in bosses %}
                    <option value="{{boss.id}}" {% if employee.boss_id==boss.id %}selected{% endif %}>{{boss.full_name}}</option>
                    {% endfor %}
                </select>
            </div>         
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="btn btn-secondary" role="button" href="/employee/{{employee.id}}">Отмена</a>
    </form>
</div>
</div>
{% endblock %}