{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
<div class="col-md-4">
<form method="POST", action="/login">
    <div class="mb-3">
      <label for="username" class="form-label">Имя пользователя</label>
      <input type="text" class="form-control" id="username" name="username" data-property-name="username">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="password" name="password" data-property-name="password">
    </div>   
    <button type="submit" class="btn btn-primary">Отправить</button>
    {% if err is defined  %}
    <div id="helpBlock" class="form-text">
      <div class="alert alert-danger" role="alert">
        {{ err }}
      </div>      
    </div>
    {% endif %}
  </form>
</div>
</div>
{% endblock %}